@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* start header section style*/

.header {
    background-color: blueviolet;
}

.header-section {
    max-width: 950px;
    /* background-color: #0976dc; */
    margin: 0 auto;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
}

.nav-container {
    /* border: 2px solid red; */
    min-height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* Use the align-items property to align the items vertically. */
    width: 50%;
}

.nav-container img {
    height: 50px;
    object-fit: cover;
}

.nav-container p {
    font-size: 25px;
    font-weight: 600;
}

.speciall {
    font-weight: 600;
    color: plum;
}

.item-container {
    /* border: 2px solid orange; */
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: end; */
    justify-content: space-between;
    flex-direction: row;
}

.item-container a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.login {
    padding: 10px 20px;
    background-color: plum;
    border-radius: 5px;
    border: none;
}

.item-container .login a {
    color: black;
}

/* start banner section style */

.banner-section {
    max-width: 950px;
    margin: 0 auto;
    min-height: 200px;
    /* border: 2px solid red; */
    display: flex;
    /* background-color: rgb(203, 227, 234); */
    background-color: #e6e9eb;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}

.banner-text-container {
    /* border: 2px solid green; */
    width: 50%;
}

.banner-img-container {
    /* border: 2px solid blue; */
    width: 50%;
    position: relative;
}

.banner-img-container img {
    width: 80%;
    /* width: 100%; */
    object-fit: cover;
    display: block;
    /* margin: 30px auto; */
    height: 100%;
    border-radius: 10px;
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.banner-text-container h1,
p,
span {
    font-size: 40px;
}

.banner-heading {
    background: linear-gradient(to bottom, plum, blueviolet);
    /* background: linear-gradient(45deg, plum, blueviolet); */
    background-clip: text;
    color: transparent;
    font-size: 80px;
}

.banner-para {
    font-family: 'Marck Script', cursive;
    font-size: 45px;
    font-weight: 700;
}

.icons span {
    margin-right: 20px;
}

.common-button {
    padding: 10px 20px;
    border: 2px solid plum;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    /* color: #fff; */
}

.discount {
    width: 60px;
    height: 60px;
    background-color: #d1d848;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* position: relative;
    top: -275px;
    left: 295px; */
    position: absolute;
    /* top: 96px; */
    bottom: 70%;
    left: 50%;
    /* % use korle best hobe ,choto boro j kono device e position same takbe */
}

/* product section style */
.product-section {
    max-width: 950px;
    min-height: 200px;
    /* border: 2px solid red; */
    margin: 0 auto;
}

.grid-container {
    min-width: 200px;
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.single-product {
    /* width: 30%; */
    /* border: 2px solid orangered; */
    padding: 0px 15px 15px 10px;
    background-color: #e6e9eb;
    border-radius: 10px;
}

.single-product img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.heading-icons {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
}

.product-icons {
    background-color: rgb(85, 143, 165);
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: white;
}

/* gallery style */
.gallery-section {
    max-width: 950px;
    min-height: 200px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 30px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.single-gallery img {
    width: 70%;
}

.single-gallery {
    /* width: 300px; */
    flex-basis: 300px;
    border: 2px solid blue;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}