@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: blueviolet;
}

.header-section {
    max-width: 950px;
    /* background-color: #0976dc; */
    margin: 0 auto;
    /* border: 2px solid blue; */
    display: flex;
}

.nav-container {
    /* border: 2px solid red; */
    min-height: 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* Use the align-items property to align the items vertically. */
    width: 50%;
}

.nav-container img {
    height: 50px;
    object-fit: cover;
}

.nav-container p {
    font-size: 25px;
    font-weight: 600;
}

.speciall {
    font-weight: 600;
    color: plum;
}

.item-container {
    /* border: 2px solid orange; */
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: end; */
    justify-content: space-between;
}

.item-container a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.item-container .login a {
    padding: 10px 20px;
    background-color: plum;
    color: black;
    border-radius: 5px;
    border: none;
}